# ================================
# Python
# ================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# virtual environments
.venv/
venv/
env/

# ================================
# Environment / secrets
# ================================
.env
.env.*
*.pem
*.key

# ================================
# Airflow
# ================================
logs/
airflow.db

# ================================
# Docker
# ================================
docker-compose.override.yml

# ================================
# IDE
# ================================
.idea/
.vscode/

# ================================
# MacOS
# ================================
.DS_Store

# ================================
# Ansible
# ================================
*.retry